// Custom styles.
.posts-collapse .post {
    margin: 0;
}

.post-title{
    margin: 0;
}

h2{
    color: #336600;
}

.post-title{
    color: #336600;
}

.posts-expand .post-title-link{
    color: #336600;
}



//body{
//    background: url(/images/background.jpg);
//    background-repeat: no-repeat;
//    background-attachment:fixed;
//    background-position:50% 50%;
//}
//body{
//    background: #0e7b97;
//    color: #fff;
//}
//body{
//    background: #999;
//    color: #111;
//}
//   background: #ededee;
//body{
//    background: #666;
//    color: #fff;
//}
/*
.header,.footer{
    background: #FFFFCC;
}
body{
    background: #CCFFFF;
    color: #222;
}
.sidebar{
    background: #FFCCCC;
    box-shadow: 0 0 0 white;
}
*/

.header,.footer{
    background: #D4DBC0;
}
//body{
//    background: #EAE3EA;
//    color: #D9B310;
//}
//.sidebar{
//    background: #A7B3A5;
//    box-shadow: 0 0 0 white;
//}

//.sidebar-inner{
//    position:fixed;
//}

//.post-toc ol a{
//    color: #ddd;
//}
